<div class="add_btn">
    <div class="btn_group">
        <a href="<{:url('/backend/tutor/addtag')}>"><i class="layui-icon"></i> 添加</a>
    </div>
</div>
<table class="layui-table">
    <thead>
    <tr>
        <th>标签名称</th>
        <th>添加时间</th>
        <th>是否首页显示</th>
        <th>是否启用</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>贤心</td>
        <td>2016-11-29</td>
        <td>人生就像是一场修行</td>
        <td>人生就像是一场修行</td>
        <td>人生就像是一场修行</td>
    </tr>

    </tbody>
</table>
<{:widget("page/pagelist",['count'=>70])}>
